@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-bg-color: #2b3f4c;
}

* {
    margin: 0;
    padding: 0;
}

footer {
    background-color: var(--main-bg-color);
    color: white;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Elms Sans", sans-serif;
}

header {
    background-color: var(--main-bg-color);
    height: 12vh;
    font-family: "Elms Sans", sans-serif;
}

/* Nav container flexbox for logo left & nav right */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px; /* add some side padding */
}

/* Logo container if you have separate class */
.logo {
    display: flex;
    align-items: center;
}
.search input{
    width: 300px;
    border-radius: 10px;

}

.search{
    width:400px;
}
.search button{
     font-family: "Elms Sans", sans-serif; 
}

/* Navigation styles */
nav ul {
    height: 100%;
    display: flex;
    justify-content: flex-end; /* align links right */
    align-items: center;
    list-style: none;
    gap: 20px; /* space between nav items */
}

nav ul li {
    padding: 0; /* remove big padding */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
}
nav ul li a:hover{
    color:#8da1ab

}

/* Optional: hover effect for links */
nav ul li a:hover {
    text-decoration: underline;
}
.container {
    min-height: calc(100vh - 12vh - 35px);
   display: flex;
}
