flex-all-center{
   display: flex;
    justify-content: center;
     align-items: center;
}
btn{
   background-color: #2b3f4c;
  color: white;
  border: 2px solid #e1d3d3;
  padding: -6px 67px;
  border-radius: 10px;
  padding: 2px 10px;
  cursor: pointer;
   font-family: "Elms Sans", sans-serif;
}